<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img class="bi" width="150" height="100" role="img" src="../../assets/images/Netflix-logo-red-black-png-removebg-preview.png" alt="">
        </a>
      </div>
      <div class="col-md-3 text-end">
        <button type="button" class="btn"mat-flat-button color="warn">Sign in</button>
      </div>
    </header>
  </div>