<div class="container-fluid">
    <div class="netflixbck">
        <div class="center">
            <h1>Unlimited movies, TV shows, and more</h1>
            <br>
            <h4>Watch anywhere. Cancel anytime.</h4>
            <!-- <div class="example-container">
                <mat-form-field>
                    <mat-label>Enter your email</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email">
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
                <button type="button" class="btn"mat-flat-button color="warn">Get started</button>
            </div> -->

        </div>
    </div>
    <div class="enjoyTV row">
        <div class="leftpart col-md-6">
            <h1>Enjoy on your TV</h1>
            <br>
            <h4>Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray players, and more.</h4>
        </div>
        <div class="rightpart col-md-6">
            <img src="../../assets/images/Screenshot 2023-06-15 194408.png" alt="" >
        </div>
    </div>
    <div class="download row">
        <div class="leftpart col-md-6">
            <img src="../../assets/images/download.png" alt="" >
        </div>
        <div class="rightpart col-md-6">
            <h1>Download your shows to watch offline</h1>
            <br>
            <h4>Save your favorites easily and always have something to watch.</h4>
        </div>
    </div>
    <div class="watch row">
        <div class="leftpart col-md-6">
            <h1>Watch everywhere</h1>
            <br>
            <h4>Stream unlimited movies and TV shows on your phone, tablet, laptop, and TV.</h4>
        </div>
        <div class="rightpart col-md-6">
            <img src="../../assets/images/watch.png" alt="" >
        </div>
    </div>
    <div class="kids row">
        <div class="leftpart col-md-6">
            <img src="../../assets/images/kids.png" alt="" >
        </div>
        <div class="rightpart col-md-6">
            <h1>Create profiles for kids</h1>
            <br>
            <h4>Send kids on adventures with their favorite characters in a space made just for them—free with your membership.</h4>
        </div>
    </div>
</div>